<h1 class="title is-3">List of Video Games</h1>
<h4>Search Games by Name:</h4>
  <%= form_tag(games_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search]) %>
    <%# <%= select_tag :genre, options_from_collection_for_select(@genre, 'id', 'name') %> %>
    <%= submit_tag ("Search") %>
  <% end %>

<ul class="ml-15">
  <% @games.each do |game|%>
    <li><%= link_to game.name, game %> was published on <%= link_to game.platform.name%></li>
  <% end %>
</ul>
<%= paginate @games %>
