<div class="searchbar">
  <h1 class="title is-3 m-2 py-4">List of Video Games</h1>
  <h4 class="title is-5 m-2">Search Games by Name:</h4>
  <%= form_tag(games_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search], class:"input is-normal is-info ml-2") %>
    <%# <%= select_tag :genre, options_from_collection_for_select(@genre, 'id', 'name') %>
    <%= submit_tag ("Search"), class:"button is-dark" %>
  <% end %>
</div>

<div class="results">
  <div class="columns is-multiline mt-5">
  <% @games.each do |game|%>
    <div class="column box is-one-quarter has-background-primary-light m-5">
      <div class="has-background-danger-light p-5 is-size-4"><%= link_to game.name, game %></div>
      <div class="p-5 "><%= link_to game.platform.name, game%></div>
    </div>
  <% end %>
  </div>
</div>

<div class="m-2 pt-1">
  <%= paginate @games %>
</div>

