<header>
  <nav class="navbar is-dark is-spaced" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item">
        <%= image_tag "icon.png"%>
      </a>
    </div>
    <div id="navbar" class="navbar-menu">
      <div class="navbar-start">
        <%= link_to "Home", root_path, class: "navbar-item"%>
        <%= link_to "Games", games_path, class: "navbar-item"%>
        <%= link_to "Genres", genres_path, class: "navbar-item"%>
        <%= link_to "Employees", employees_path, class: "navbar-item"%>
        <%= link_to "Platforms", platforms_path, class: "navbar-item"%>
    </div>
  </nav>
</header>